/* Первоначальные настройки  */
*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

img{
	max-width: 100%;
}
.container{
	max-width: 1200px;
	margin-right: auto;   /* Что бы контейнер находился по центру */
	margin-left: auto;	/* Что бы контейнер находился по центру */
	padding-left: 15px;		/* Отступы для того что бы при меньшем разрешении были отступы от края*/
	padding-right: 15px;       
}

html{
	font-family: sans-serif;
}
/* Конец */

/* Стилизуем header */

/* ЛОГО */
.header{
	height: 110px;
}

.header-container{
	display: flex;
	align-items:center ;
	height: 100%;
}
.logo{
	margin-right: auto;
}
/* Коней Лого */

/* Меню */

.nav-list{
	display: flex;
}
.nav-item:not(:last-child){      /* Отступ для всех элементов меню,но не для последнего */
	margin-right: 50px;
}

.header-btn{
	margin-left: 80px;
}

.btn{
	padding: 15px 16px;
	font-size: 12px;
	line-height: 1;   /* относительная единица */
	text-transform: uppercase;
	color:white;
	background-color: #3172b9;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;   /* Иначе кнопка будет накладываться на текст */
}

.text-center{
	text-align: center;
}


/* Hero */

.hero-container{
	padding-top: 120px;
	padding-bottom: 130px;
}
.hero-content{
	max-width: 50%;
}

.section-hero-heading{
	margin-bottom: 20px;
}
.section-hero-description{
	margin-bottom: 30px;
}
.section-hero-btn-description{
	margin-top: 10px;
}

/* What we do */
.section-do{
	padding-top: 140px;
	padding-bottom: 100px;
}
.section-description{
	margin-top:25px;
}

.section-do-list{
	margin-top: 50px;
	display: flex;
}
.section-do-item{
	flex:1 1 25%;
}
.section-do-item:not(:last-child){
	margin-right: 30px;
}


.section-clients{
	padding-top: 90px;
	padding-bottom: 100px;
}

.section-clients-list{
	display: flex;
}
.section-clients-list-item{
	flex: 1 1 33.33%;
}
.section-clients-list-item:not(:last-child){
	margin-right: 30px;
}

.section-clients-user{
	display: flex;
	align-items: center;
}

.section-clients-avatar{
	width: 60px;
	height: 60px;
	margin-right: 15px;
	border: 2px solid #3172b9;
	border-radius: 50%;
}
/* Contacts */
.section-contacts{
	padding-top:85px;
	padding-bottom: 95px;
}

.section-contacts-list{
	display: flex;
	margin-top: 43px;
}
.section-contacts-item{
	flex: 1 1 33.33%;
}
.section-contacts-info{
	max-width: 250px;
}

.section-contacts-icon{
	display: block;
	margin-bottom: 25px;
	height: 26px;
	background-repeat: no-repeat;
	background-position: center left;
	background-size: auto 100%;
	background-color: transparent;
}

.section-contacts-icon-gps{
	background-image: url('/images/gps.png');
}

.section-contacts-icon-phone{
	background-image: url('/images/phone.png');
}
.section-contacts-icon-mail{
	background-image: url('/images/mail.png');
	background-size: auto 19px;
}
.section-contacts-heading{
	display: block;
	margin-bottom: 40px;
}



/* footer */


footer{
	height: 125px;
}

.footer-container{
	display: flex;
	height: 100%;     /* Для того что бы работал flex */
	align-items: center;  /* Вертикально отцентрировать */
	justify-content: space-between;
}

.footer-left{
	display: flex;
	align-items: center;
}

.footer-logo{
	margin-right: 25px;
}

.footer-nav-list{
	display: flex;
}

.footer-nav-item:not(:last-child){
	margin-right: 35px;
}

