/* Первоначальные настройки  */
/* open-sans-300 - latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local(''),
		  url('../fonts/open-sans-v28-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/open-sans-v28-latin-300.woff') format('woff'), /* Modern Browsers */
 }
 /* open-sans-regular - latin */
 @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		  url('../fonts/open-sans-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/open-sans-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
 }
 /* open-sans-600 - latin */
 @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local(''),
		  url('../fonts/open-sans-v28-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/open-sans-v28-latin-600.woff') format('woff'), /* Modern Browsers */
 }

*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

img{
	max-width: 100%;
}
.container{
	max-width: 1200px;
	margin-right: auto;   /* Что бы контейнер находился по центру */
	margin-left: auto;	/* Что бы контейнер находился по центру */
	padding-left: 15px;		/* Отступы для того что бы при меньшем разрешении были отступы от края*/
	padding-right: 15px;       
}

html{
	font-family: 'Open Sans', sans-serif;
}
/* Конец */

/* Стилизуем header */

/* ЛОГО */
.header{
	height: 110px;
}

.header-container{
	display: flex;
	align-items:center;
	justify-content: space-between;
	height: 100%;
}

/* Коней Лого */

/* Меню */

.nav-list{
	display: flex;
	margin: auto;
}
.nav-item{
	font-size: 15px;
	line-height: 1;    /* Если переноса строки нет ,то можно указывать 1 */
}

.nav-link{
	color:#1c1c1c;
}

.nav-item.is-active.nav-link{
	color: #3172b9;
}
.nav-item:not(:last-child){      /* Отступ для всех элементов меню,но не для последнего */
	margin-right: 50px;
}

.header-btn{
	margin-left: 40px;
}

.btn{
	padding: 15px 30px;
	font-size: 16px;
	line-height: 1;   /* относительная единица */
	font-weight: 600;
	text-transform: uppercase;
	color:white;
	background-color: #3172b9;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;   /* Иначе кнопка будет накладываться на текст */
}

.btn.btnbig{
	padding: 20px 60px;
}
.text-center{
	text-align: center;
}


/* Hero */

.section-hero{
	background: url('../images/Base.jpg') right center no-repeat white;
	background-size: contain;
}

.hero-container{
	padding-top: 120px;
	padding-bottom: 130px;
}
.hero-content{
	max-width: 50%;
}

.section-hero-heading{
	margin-top: 0;              /* У элемента h1 есть отступ сверху его нужно убрать */
	margin-bottom: 30px;
	font-size: 40px;
	line-height: 52px;
	font-weight: 300;
	color: #1c1c1c;
}

.section-hero-action{
	display: inline-block;   
}
.section-hero-description{
	margin-bottom: 33px;
	font-size: 16px;
	line-height: 25px;
	color: #787878;

}
.section-hero-btn-description{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	font-size: 11px;
	line-height: 1;
	text-transform: uppercase;
	text-align: center;
	color: #787878;
}

.section-hero-ssl-icon{
	display: inline-block;
	width: 13px;
	height: 17px;
	margin-right: 10px;
	background: url('../images/Shield.svg') center center no-repeat transparent;
	background-size: contain;
	transform: translateY(-1px);   /* Поднятие иконки по оси у */
}

/* What we do */
.section-do{
	padding-top: 140px;
	padding-bottom: 100px;
}
.section-description{
	margin-top:25px;
}

.section-do-list{
	margin-top: 50px;
	display: flex;
}
.section-do-item{
	flex:1 1 25%;
}
.section-do-item:not(:last-child){
	margin-right: 30px;
}

/* section-clients */
.section-clients{
	padding-top: 90px;
	padding-bottom: 100px;
}

.section-clients-list{
	display: flex;
}
.section-clients-list-item{
	flex: 1 1 33.33%;
}
.section-clients-list-item:not(:last-child){
	margin-right: 30px;
}

.section-clients-user{
	display: flex;
	align-items: center;
}

.section-clients-avatar{
	width: 60px;
	height: 60px;
	margin-right: 15px;
	border: 2px solid #3172b9;
	border-radius: 50%;
}
/* Contacts */
.section-contacts{
	padding-top:85px;
	padding-bottom: 95px;
}

.section-contacts-list{
	display: flex;
	margin-top: 43px;
}
.section-contacts-item{
	flex: 1 1 33.33%;
}
.section-contacts-info{
	max-width: 250px;
}

.section-contacts-icon{
	display: block;
	margin-bottom: 25px;
	height: 26px;
	background-repeat: no-repeat;
	background-position: center left;
	background-size: auto 100%;
	background-color: transparent;
}

.section-contacts-icon-gps{
	background-image: url('/images/gps.png');
}

.section-contacts-icon-phone{
	background-image: url('/images/phone.png');
}
.section-contacts-icon-mail{
	background-image: url('/images/mail.png');
	background-size: auto 19px;
}
.section-contacts-heading{
	display: block;
	margin-bottom: 40px;
}



/* footer */


footer{
	height: 125px;
}

.footer-container{
	display: flex;
	height: 100%;     /* Для того что бы работал flex */
	align-items: center;  /* Вертикально отцентрировать */
	justify-content: space-between;
}

.footer-left{
	display: flex;
	align-items: center;
}

.footer-logo{
	margin-right: 25px;
}

.footer-nav-list{
	display: flex;
}

.footer-nav-item:not(:last-child){
	margin-right: 35px;
}

